* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
body nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body nav img {
  width: 25px;
}
body .container {
  width: 100%;
  height: 90.9vh;
  background-image: url("./images/Untitled-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .texts {
  width: 650px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-gap: 25px;
  align-items: center;
  color: white;
  margin-top: -100px;
}
body .container .texts h3 {
  font-weight: 100;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body .container .texts h1 {
  font-size: 55px;
}
@media (max-width: 500px) {
  body .container .texts h1 {
    text-align: center;
    font-size: 45px;
  }
}
body .container .texts h2 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
}
body .container .texts h2 a {
  text-decoration: none;
  color: white;
  margin-left: 5px;
  font-weight: normal;
  font-size: 20px;
}
body .container .texts button {
  width: 150px;
  height: 50px;
  background-color: #F1C50E;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
body .container .texts button:hover {
  background-color: #b69510;
}
body .container2 {
  width: 100%;
  height: 110vh;
  background-color: white;
}
body .container2 h3 {
  text-align: center;
  padding-top: 30px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
}
body .container2 h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
}
body .container2 .cards {
  width: 70%;
  height: 80vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr 1fr 1fr);
  margin: auto;
  margin-top: 30px;
}
@media (max-width: 500px) {
  body .container2 .cards {
    height: 100vh;
    grid-gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
body .container2 .cards .card1 {
  width: 230px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 10px;
}
body .container2 .cards .card1 p {
  text-align: center;
}
body .container2 .cards .card1 img {
  width: 50px;
  height: 50px;
  background-color: #A5BBA9;
  border-radius: 50%;
}
body .container2 button {
  width: 140px;
  height: 50px;
  background-color: #F1C50E;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 17px;
  margin-left: 555px;
  cursor: pointer;
}
@media (max-width: 500px) {
  body .container2 button {
    height: 45px;
    margin-left: 150px;
    margin-top: 170px;
  }
}
body .container2 button:hover {
  background-color: #b69510;
}
body .container3 {
  width: 100%;
  height: 100vh;
  background-color: #A5BBA9;
  display: flex;
  margin-top: 100px;
}
@media (max-width: 500px) {
  body .container3 {
    height: 150vh;
    margin-top: 700px;
    flex-direction: column;
  }
}
body .container3 .texts2 {
  width: 400px;
  height: 350px;
  margin-left: 150px;
  margin-top: 150px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-gap: 15px;
}
@media (max-width: 500px) {
  body .container3 .texts2 {
    width: 300px;
    height: 500px;
    margin-left: 50px;
    margin-top: 50px;
  }
}
body .container3 .texts2 h3 {
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
}
@media (max-width: 500px) {
  body .container3 .texts2 h3 {
    font-size: 15px;
  }
}
body .container3 .texts2 h2 {
  font-size: 30px;
}
@media (max-width: 500px) {
  body .container3 .texts2 h2 {
    font-size: 25px;
  }
}
body .container3 .texts2 h1 {
  font-size: 17px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
}
body .container3 .texts2 h1 a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  font-weight: normal;
}
body .container3 .texts2 button {
  width: 150px;
  height: 45px;
  background-color: #F1C50E;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
body .container3 .texts2 button:hover {
  background-color: #b69510;
}
body .container3 img {
  width: 400px;
  height: 400px;
  margin-top: 100px;
  margin-left: 200px;
}
@media (max-width: 500px) {
  body .container3 img {
    margin-left: 0px;
  }
}
body .box {
  width: 100%;
  height: 230px;
  background-color: #F1C50E;
  color: white;
}
@media (max-width: 500px) {
  body .box {
    height: 300px;
  }
}
body .box h2 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
@media (max-width: 500px) {
  body .box h2 {
    font-size: 56px;
    text-align: center;
  }
}
body .box button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: none;
  letter-spacing: 4px;
  margin-top: 45px;
  font-size: 17px;
  margin-left: 550px;
  cursor: pointer;
}
body .box button:hover {
  background-color: #959191;
}
@media (max-width: 500px) {
  body .box button {
    margin-left: 140px;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */